@{
    ViewBag.Title = "Página de Inicio";
}

<h2>@ViewBag.Message</h2>
<p>
    Sitio Web de Compassion International Bolivia  -  <a href="http://www.compassionbo.com" title="Sitio Web Compassion Bolivia">http://www.compassionbo.com</a>.
</p>
